@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* .something {
  @apply text-lg;
} */

/* global.css */

@layer base {
  /* Customize the width of the scrollbar */
  ::-webkit-scrollbar {
    width: 8px; /* Adjust width for vertical scrollbar */
    height: 8px; /* Adjust height for horizontal scrollbar */
  }

  /* Track - background of the scrollbar */
  ::-webkit-scrollbar-track {
    background: #6a6a6a; /* Light background for the track */
    border-radius: 4px;
  }

  /* Thumb - handle of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #444444; /* Darker color for thumb */
    border-radius: 4px;
    border: 1px solid #5b5b5b; /* Border creates padding effect */
  }

  /* Thumb hover effect */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #2d3748; /* Darker color on hover */
  }
}
